@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
  padding: 0;
  margin: 0;
  border: border-box;
}

html, body {
  background: rgb(115, 111, 111);
  height: 100%;
  width: 100%;
}

span {
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  padding: 25px;
}

p {
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  opacity: 0.75;
  font-family: 'Lexend Deca', sans-serif;
  padding: 25px;
}

footer {
  width: 100%;
  height: 20px;
  position: end;
  text-align-last: center;
  bottom: 0;
  left: 0;
} */

.attribution {
  font-size: 11px; 
  text-align: center; 
  color: hsl(228, 45%, 44%); 
  color: white;
} 

.carsSedans {
  background: hsl(31, 77%, 52%);
  font-family: 'Big Shoulders Display', cursive;
  max-width: 250px;
  display: block;
  align-items: center;
  align-content: center;
  border-radius: 10px 10px 0px 0px;
  margin: 40px 20px 0 20px;

}

.carsSedans button {
  color: hsl(31, 77%, 52%);
}

.carsSuv {
  background: hsl(184, 100%, 22%);
  font-family: 'Big Shoulders Display', cursive;
  max-width: 250px;
  display: block;
  align-items: center;
  align-content: center;
  margin: 0px 20px 0 20px;
}

.carsSuv button {
  color: hsl(184, 100%, 22%);
}

.carsLux {
  background: hsl(179, 100%, 13%);
  font-family: 'Big Shoulders Display', cursive;
  max-width: 250px;
  display: block;
  align-items: center;
  align-content: center;
  border-radius: 0px 0px 10px 10px;
  margin: 0px 20px 40px 20px;
}

.carsLux button {
  color: hsl(179, 100%, 13%);
}

img {
  padding: 25px;
  display: block;
  margin-bottom: 10px;
}

button {
  margin: 0px 0px 30px 25px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  font-size: 13px;
  font-family: 'Lexend Deca', sans-serif;
}

button:hover {
  
}